
    <div class="image">
            <img src="/img/cvpicture.jpeg" alt="Image of student">
    </div>
    <br>
    <br>
     <div class= "container">
        <h1 style="font-family:Georgia, 'Times New Roman', Times, serif;">
        My Projects Now on GitHub
        </h1>
        <h4 style="font-family:Georgia, 'Times New Roman', Times, serif;">
            Welcome to my portfolio. This website presents my work in Research and Education at three different universities. Enjoy!
        </h4>
    </div>