<div id="main">
  <div class="read-more">
     <div class="login-container">
      <h3 class="card-header-project-h">{{project.projectTitle}}</h3>
      <div class="card-header-project-f">{{project.projectDesc}}</div>
    </div>
  </div>
</div>